##############################
## Folders                  ##
##############################
target
logs
.svn
.idea

##############################
## conf                     ##
##############################
*.iml